/* GENERAL */
[class*="ex-"] {
  cursor: pointer;
}

/* ESERCIZIO 1 */
.ex-1-square {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  transition: all 3s;
}

/* Effetto */
.ex-1-square:hover {
  background-color: red;
}

/* ESERCIZIO 2 */
.ex-2-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: all 2s;
}

/* Effetto */
.ex-2-square:active {
  width: 100%;
}

/* ESERCIZIO 3 */
.ex-3-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: all 0.3s ease-in;
}

/* Effetto */
.ex-3-square:hover {
  border-radius: 50%;
}

/* ESERCIZIO 4 */
.ex-4-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: all 1s linear;
}

/* Effetto */
.ex-4-square:hover {
  opacity: 0;
}

/* ESERCIZIO 5 */
.ex-5-square {
  margin: 20px;
  width: 60px;
  height: 60px;
  background: red;
  transition: all 1s;
}

/* Effetto */
.ex-5-square:hover {
  transform: scale(2);
}

.ex-5-square:active {
  transform: scale(0.5);
}

.ex-6-img,
.ex-7-img,
.ex-8-img {
  width: 500px;
}

/* ESERCIZIO 6 */
.ex-6-img:hover {
  filter: grayscale(100%);
}

/* ESERCIZIO 7 */
.ex-7-img {
  transition: all 1s linear;
}

/* Effetto */
.ex-7-img:hover {
  filter: grayscale(80%);
  filter: sepia(50%);
}

/* ESERCIZIO 8 */
.ex-8-img {
  transition: all 1s ease-in-out;
}

/* Effetto */
.ex-8-img:hover {
  border-radius: 20px;
  filter: grayscale(100%);
  filter: saturate(25%);
}

/* ESECIZIO 9 */
.ex-9-img {
  margin: 50px 100px;
  width: 400px;
  transition: all 1.5s ease-in-out;
}

/* Effetto */
.ex-9-img:hover {
  border-radius: 20px;
  transform: scale(1.5);
  filter: grayscale(100%);
  filter: sepia(65%);
}

/* ESERCIZIO 10 */
.ex-10-icon {
  font-size: 60px;
  animation: rotate 1s infinite linear reverse;
}

/* Effetto */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ESERCIZIO 11 */
.ex-11-icon {
  font-size: 60px;
}

/* Effetto */
.ex-11-icon:hover {
  animation: return 2s linear;
}

@keyframes return {
  0% {
    transform: rotate(0deg);
  }

  85% {
    transform: rotate(295deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.ex-12-button,
.ex-13-button {
  position: relative;
  display: block;
  width: 200px;
  height: 70px;
  text-transform: uppercase;
  border: 3px solid #1b3c59;
  color: #1b3c59;
  font-size: 20px;
  line-height: 70px;
  text-align: center;
  text-decoration: none;
}
.ex-12-top-white,
.ex-13-top-white {
  position: absolute;
  top: -10px;
  left: 10%;
  background: #f5f5f5;
  width: 60px;
  height: 20px;
}
.ex-12-bottom-white,
.ex-13-bottom-white {
  position: absolute;
  bottom: -10px;
  right: 20%;
  background: #f5f5f5;
  width: 60px;
  height: 20px;
}

/* ESERCIZIO 12 */
.ex-12-button:hover .ex-12-top-white {
  animation: slide_top 2s linear;
}

/* Effetto */
@keyframes slide_top {
  0% {
    left: 10%;
  }

  50% {
    left: 65%;
  }

  100% {
    left: 10%;
  }
}

.ex-12-button:hover .ex-12-bottom-white {
  animation: slide_bottom 2s linear;
}

@keyframes slide_bottom {
  0% {
    right: 20%;
  }

  50% {
    right: 65%;
  }

  100% {
    right: 20%;
  }
}

/* ESERCIZIO 13 */
.ex-13-button:hover .ex-13-top-white {
  animation: slide13_top 2s linear;
}

/* Effetto */
@keyframes slide13_top {
  0% {
    top: -10px;
    left: 10%;
  }

  25% {
    top: -10px;
    left: 80%;
  }

  40% {
    top: 50px;
    left: 80%;
  }

  70% {
    top: 50px;
    left: -10px;
  }

  85% {
    top: -10px;
    left: -10px;
  }

  100% {
    top: -10px;
    left: 10%;
  }
}

.ex-13-button:hover .ex-13-bottom-white {
  animation: slide13_bottom 2s linear;
}

@keyframes slide13_bottom {
  0% {
    bottom: -10px;
    right: 20%;
  }

  25% {
    bottom: -10px;
    right: 80%;
  }

  40% {
    bottom: 50px;
    right: 80%;
  }

  70% {
    bottom: 50px;
    right: -10px;
  }

  85% {
    bottom: -10px;
    right: -10px;
  }

  100% {
    bottom: -10px;
    right: 20%;
  }
}
